<!-- ====================================================================================== -->
<!--                                       Menu Pricing                                     -->
<!-- ====================================================================================== -->

<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1037">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="/assets/svgs/divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Our Massages</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    30 mins
                </button>
                <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                    60 mins
                </button>
                <button class="cs-button" data-filter="four" onclick="window.location.href='#cs-menu-group';">
                    90 mins
                </button>
            </div>
        </div>
        <!--30 mins-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="one">
            <!--30 mins Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Thai massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Ancient healing art combining gentle stretching, deep pressure, and energy work for relaxation and balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Oil massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Oil Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Luxurious combination of traditional Thai and Western techniques with warm oil for deep muscle relaxation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="aromatherapy massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle, flowing massage using therapeutic essential oils to restore balance and promote wellbeing.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="hot stone massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Stone Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Deep heat therapy using smooth stones to melt away tension and promote profound relaxation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-8.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-8.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="indian head massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Indian Head Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Ancient Indian therapy focusing on upper body pressure points to relieve tension and restore clarity.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="back, neck, and shoulder massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back, Head & Shoulder</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Targeted upper body treatment to release shoulder knots, neck strain and back tension.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-6.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-6.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="foot massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Massage</span>
                                    <span class="cs-price">
                                        £35
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Traditional pressure point therapy to stimulate reflex zones, reduce stress and restore energy flow.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--60-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="three">
            <!--60 mins Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Thai massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Massage</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Ancient healing art combining gentle stretching, deep pressure, and energy work for relaxation and balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Oil massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Oil Massage</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Luxurious combination of traditional Thai and Western techniques with warm oil for deep muscle relaxation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="aromatherapy massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle, flowing massage using therapeutic essential oils to restore balance and promote wellbeing.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="hot stone massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Stone Massage</span>
                                    <span class="cs-price">
                                        £60
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Deep heat therapy using smooth stones to melt away tension and promote profound relaxation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-5.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="back, neck, and shoulder massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back, Head & Shoulder</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Targeted upper body treatment to release shoulder knots, neck strain and back tension.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--90 min-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="four">
            <!--90 mins Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Thai massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Massage</span>
                                    <span class="cs-price">
                                        £70
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Ancient healing art combining gentle stretching, deep pressure, and energy work for relaxation and balance.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="Oil massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Full Body Thai Oil Massage</span>
                                    <span class="cs-price">
                                        £70
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Luxurious combination of traditional Thai and Western techniques with warm oil for deep muscle relaxation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-2.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="aromatherapy massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatherapy Massage</span>
                                    <span class="cs-price">
                                        £70
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Gentle, flowing massage using therapeutic essential oils to restore balance and promote wellbeing.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture">
                                <!--Mobile Image -->
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 152, height: 152}) | jpeg %}" type="image/jpeg">
                                <!--Tablet Image -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 288, height: 288}) | jpeg %}" type="image/jpeg">
                                <!--Desktop Image -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" type="image/jpeg">
                                <img src="{% getUrl "/assets/images/service-9.jpg" | resize({width: 320, height: 320}) | jpeg %}" alt="hot stone massage" width="160" height="160" loading="lazy" decoding="async" aria-hidden="true">
                            </picture>
                            <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Stone Massage</span>
                                    <span class="cs-price">
                                        £85
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Deep heat therapy using smooth stones to melt away tension and promote profound relaxation.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener"class="cs-button-solid">Book A Massage</a>
    </div>
</div>

<script>class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
</script>