
<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            <p class="cs-text">
                From relieving chronic pain to providing perfect relaxation, our treatments have helped countless clients feel their best. Read their experiences with our services.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">The Best!</h3>
                <p class="cs-item-text">
                    I've had a massage here and I have to say the best I've ever had made me feel totally relaxed before ,during and after. I highly recommend this place will definitely go again. Thank you, P Bill.
                </p>
                <span class="cs-name">Bill</span>
             </li>
             <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Incredible!</h3>
                <p class="cs-item-text">
                    Very nice place. It was clean and tidy, the massage was incredible, I feel way better after the massage and my back is not in pain as before. I definitely recommend it.
                </p>
                <span class="cs-name">Geggione</span>
             </li>
        </ul>
        <a href="{{client.socials.googleReview}}" target="_blank" rel="noopener" class="cs-button-solid" class="cs-button-solid cs-nav-button">Leave A Review</a>
    </div>
</section>


