<section id="services-879">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Popular</span>
            <h2 class="cs-title">Our Most Popular Treatments</h2>
            <p class="cs-text">
                Transform your wellbeing with our most requested therapeutic treatments. Whether you seek relaxation or recovery, we'll help you find your path to renewal.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <h3 class="cs-h3">Full Body Thai Massage </h3>
                    <p class="cs-item-p">
                        Ancient healing art combining gentle stretching, deep pressure, and energy work for relaxation and balance.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 716, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 716, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 716, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 634, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 634, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 634, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 826, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 826, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 826, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/popular-1.jpg" | resize({width: 826, height: 840}) | jpeg %}" alt="thai massage" width="413" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <h3 class="cs-h3">Full Body Thai Oil Massage</h3>
                    <p class="cs-item-p">
                        Luxurious combination of traditional Thai and Western techniques with warm oil for deep muscle relaxation.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 716, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 716, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 716, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 826, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 826, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 826, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 826, height: 840}) | jpeg %}" alt="oil massage" width="413" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <h3 class="cs-h3">Professional Waxing Treatments</h3>
                    <p class="cs-item-p">
                        Professional full-body waxing available for both men and women.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 716, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 716, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 716, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 634, height: 840}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 634, height: 840}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 634, height: 840}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 826, height: 840}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 826, height: 840}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 826, height: 840}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/treatment-2.jpg" | resize({width: 826, height: 840}) | jpeg %}" alt="waxing" width="413" height="420" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>