---
title: 'Massages | Diva Thai Massage and Beauty'
description: "From traditional Thai to deep tissue massage, our treatments blend ancient techniques with modern expertise. Find the perfect massage therapy for your needs in Cardiff."
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 3100
    parent: Treatments
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massages.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

{% include 'components/pricing-menu.html' %}                                                  

{% endblock %}