---
title: 'Reviews | Diva Thai Massage and Beauty'
description: "Read what our clients say about their experiences with our Thai massage and beauty treatments. Discover why they choose Diva Thai Massage & Beauty in Cardiff."
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I've had a massage here and I have to say  the best I've ever had  made me feel totally relaxed before ,during and after. I highly recommend this place will definitely go again. Thank you, P Bill.
                </p>
                <div class="star-group">
                    <span class="name">Bill Shallcross</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Very nice place. It was clean and tidy, the massage was incredible, I feel way better after the massage and my back is not in pain as before. I definitely recommend it.
                </p>
                <div class="star-group">
                    <span class="name">Geggione Zenit</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Great Massage service. I have sciatica and chronic back pain, as well as trapped nerves in my neck. The masseuse went to work, with the right amount of pressure, released the trapped nerves and ironed out the knotted muscles in my traps, shoulders and lower back. Highly recommended.
                </p>
                <div class="star-group">
                    <span class="name">Lee Power</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

{% endblock %}